brotlipy==0.7.0
certifi==2020.11.8
joblib==0.17.0
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy==1.19.4
pandas==1.1.4
pyarrow==0.15.1
python-dateutil==2.8.1
pytz==2020.4
scikit-learn==0.23.2
threadpoolctl==2.1.0
vim==0.0.1
wincertstore==0.2
