brotlipy==0.7.0
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
cryptography==3.2.1
idna==2.10
joblib==0.17.0
lightfm==1.15
mkl-fft==1.0.6
mkl-random==1.0.1.1
numpy==1.19.4
pandas==1.1.4
pyarrow==0.15.1
pycparser==2.20
pyOpenSSL==20.0.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.4
requests==2.25.0
scikit-learn==0.23.2
scipy==1.5.3
six==1.15.0
threadpoolctl==2.1.0
urllib3==11.25.11
vim==0.0.1
win-inet-pton==1.1.0
wincertstore==0.2
